*{
    padding: 0%;
    margin: 0%;
}

body{
    display: grid;
    grid-template-rows: 1fr 90% 1fr;
    grid-template-columns: 80% 1fr;
}

header{
    background-color: #bbf7d0;
    grid-column: 1/3;
    grid-row: 1/2;
}
footer{
    background-color: #bbf7d0;
    grid-column: 1/3;
    grid-row: 3/4;
}

.sidebar{
    background-color: #86efac;
    grid-column: 2/3;
    grid-row:2/3;
}

.container{
    background-color: #f0fdf4;
    grid-column: 1/2;
    grid-row: 2/3;

    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
    grid-auto-rows: minmax(min-content, max-content);
    
}

.book-card{
    border:black solid 1px;
    padding: 5% 0;
    margin: 2%;
    background-color: #dcfce7;
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.card-title{
    font-weight: bolder;
    font-size: larger;
}

.not-read{
    background-color: #fecaca;
}