*{
    padding: 0%;
    margin: 0%;
}

body{
    display: grid;
    grid-template-rows: 1fr 90% 1fr;
    grid-template-columns: 80% 1fr;
}

header{
    background-color: #bbf7d0;
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;

}

footer{
    background-color: #bbf7d0;
    grid-column: 1/3;
    grid-row: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar{
    background-color: #86efac;
    grid-column: 2/3;
    grid-row:2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container{
    background-color: #f0fdf4;
    grid-column: 1/2;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    
}

.book-card{
    border:black solid 1px;
    padding: 5% 0;
    margin: 2%;
    background-color: #dcfce7;
    max-height: min-content;
    
    min-width: 0 ;
    min-height: 0;
    max-height: 300px;
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

/* .remove-button{
    align-self: flex-start;
    
} */

.card-title{
    font-weight: bolder;
    font-size: larger;
}

.not-read{
    background-color: #fecaca;
}


input[type=checkbox], input[type=radio] {
    width: auto;
    border: none;
}

input:focus, textarea:focus {
    border-color: #000;
}


fieldset {
    
    box-sizing: border-box;
    border: 1px solid #999;
}

button {
    margin: 20px 0 0 124px;
}

input {
    font: 1em sans-serif;
    padding-right: 1%;
    box-sizing: border-box;
    border: 1px solid #999;
}

form {
    margin: 0 auto;
    
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

label{
    width: 120px;
    text-align: right;
}

fieldset p{
    padding-top: 3%;
}

label{
    margin-right: 15%;
}

 legend{
    font-size: larger;
    font-weight: bold;
 }